In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
print("water")

In [ ]:
dengue = pd.read_csv('DENGUE FEVER.csv')
dengue.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2811 non-null   int64
 1   year              2811 non-null   int64
 2   week              2811 non-null   int64
 3   month             2811 non-null   int64
 4   adm3_pcode        2811 non-null   object
 5   adm3_en           2811 non-null   object
 6   tave              2811 non-null   float64
 7   tmin              2811 non-null   float64
 8   tmax              2811 non-null   float64
 9   heat_index        2811 non-null   float64
 10  pr                2811 non-null   float64
 11  wind_speed        2811 non-null   float64
 12  rh                2811 non-null   float64
 13  solar_rad         2811 non-null   float64
 14  uv_rad            2811 non-null   float64
 15  clinic_nearest    1686 non-null   float64
 16  dentist_nearest   1686 non-null   float64
 17  doctors_nearest   1686 non-null   float64
 18  hospital_nearest  1686 non-null   float64
 19  optician_nearest  1686 non-null   float64
 20  pharmacy_nearest  1686 non-null   float64
 21  pop_count_total   2439 non-null   float64
 22  pop_density_mean  2439 non-null   float64
 23  clinic_count      2811 non-null   float64
 24  dentist_count     2811 non-null   float64
 25  doctors_count     2811 non-null   float64
 26  hospital_count    2811 non-null   float64
 27  optician_count    2811 non-null   float64
 28  pharmacy_count    2811 non-null   float64
 29  case_total        2340 non-null   float64
dtypes: float64(24), int64(4), object(2)
memory usage: 659.0+ KB
None

In [ ]:
print(dengue.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2811 non-null   int64
 1   year              2811 non-null   int64
 2   week              2811 non-null   int64
 3   month             2811 non-null   int64
 4   adm3_pcode        2811 non-null   object
 5   adm3_en           2811 non-null   object
 6   tave              2811 non-null   float64
 7   tmin              2811 non-null   float64
 8   tmax              2811 non-null   float64
 9   heat_index        2811 non-null   float64
 10  pr                2811 non-null   float64
 11  wind_speed        2811 non-null   float64
 12  rh                2811 non-null   float64
 13  solar_rad         2811 non-null   float64
 14  uv_rad            2811 non-null   float64
 15  clinic_nearest    1686 non-null   float64
 16  dentist_nearest   1686 non-null   float64
 17  doctors_nearest   1686 non-null   float64
 18  hospital_nearest  1686 non-null   float64
 19  optician_nearest  1686 non-null   float64
 20  pharmacy_nearest  1686 non-null   float64
 21  pop_count_total   2439 non-null   float64
 22  pop_density_mean  2439 non-null   float64
 23  clinic_count      2811 non-null   float64
 24  dentist_count     2811 non-null   float64
 25  doctors_count     2811 non-null   float64
 26  hospital_count    2811 non-null   float64
 27  optician_count    2811 non-null   float64
 28  pharmacy_count    2811 non-null   float64
 29  case_total        2340 non-null   float64
 30  quarter           2811 non-null   int64
dtypes: float64(24), int64(5), object(2)
memory usage: 680.9+ KB
None
[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
 2022]
Quarterly mean values per year for each temperature column:
    year  quarter       tave       tmin       tmax  heat_index         pr  \
0   2008        1  26.726732  24.412735  29.759285   28.798463   0.595165
1   2008        2  28.590590  25.917731  31.870385   32.771399   7.527447
2   2008        3  27.364149  25.315543  30.051044   30.840672  14.600371
3   2008        4  27.287805  25.198205  29.990577   30.283506   6.559517
4   2009        1  26.883405  24.477736  29.965678   29.089784   1.056803
5   2009        2  28.061201  25.733326  30.959956   31.938081   8.839596
6   2009        3  27.464021  25.632738  29.796427   31.387606  19.378648
7   2009        4  26.981189  24.612764  29.989915   29.337479   4.193273
8   2010        1  27.210527  24.416973  30.818633   29.062267   0.164712
9   2010        2  29.528244  26.584093  33.245590   34.341431   4.179353
10  2010        3  28.008180  25.772708  31.016360   32.236475  10.600476
11  2010        4  27.322731  25.373533  29.948953   30.419408   6.804002
12  2011        1  26.266972  24.161398  29.185276   27.754774   0.758792
13  2011        2  28.352297  25.760940  31.573318   32.052086   8.611494
14  2011        3  27.280281  25.487358  29.547916   30.852737  15.061745
15  2011        4  27.351722  25.331155  30.020691   30.402359   8.263857
16  2012        1  27.182273  24.880028  30.232307   29.516609   0.923636
17  2012        2  28.850427  26.217350  32.114655   33.386171   5.890998
18  2012        3  27.117599  25.352865  29.554689   30.427888  23.870769
19  2012        4  27.627472  25.242924  30.617251   30.476270   3.448387
20  2013        1  27.190217  24.761815  30.399192   29.326834   0.697525
21  2013        2  29.655937  26.769057  33.241379   34.494095   5.372731
22  2013        3  27.586702  25.678696  30.221667   31.293113  18.667248
23  2013        4  27.266097  25.214051  29.904621   30.091871   4.238654
24  2014        1  26.540324  23.788367  30.019445   27.985332   0.411790
25  2014        2  29.717304  26.851846  33.430959   34.663690   2.802513
26  2014        3  27.583422  25.730662  29.959132   31.545672  13.036987
27  2014        4  27.262929  25.273708  29.856392   30.107055   5.451367
28  2015        1  26.192472  23.637006  29.438921   27.450843   0.368405
29  2015        2  29.594398  26.644797  33.270356   34.073709   2.144738
30  2015        3  28.035093  25.892611  30.793063   32.322774   9.944099
31  2015        4  27.895848  25.730129  30.735480   31.196224   5.206380
32  2016        1  27.426686  25.039840  30.628260   29.821835   0.421214
33  2016        2  29.862950  27.059793  33.448946   35.132209   3.786980
34  2016        3  27.983112  26.112663  30.564352   32.478269  13.240478
35  2016        4  27.749193  25.847472  30.323091   31.239023   6.018683
36  2017        1  26.905723  24.780032  29.863586   28.832590   0.673758
37  2017        2  29.374779  26.684328  32.881319   34.181453   4.305471
38  2017        3  28.141913  26.197058  30.788049   32.687304  13.615282
39  2017        4  27.660049  25.904633  30.032434   31.173963   7.909715
40  2018        1  27.155861  24.945223  30.185726   29.272410   0.399442
41  2018        2  29.434347  26.821321  32.786340   33.672045   6.441980
42  2018        3  27.404195  25.747820  29.583649   31.223107  13.405927
43  2018        4  27.878227  25.792558  30.605997   30.987010   3.569308
44  2019        1  26.923979  24.242821  30.295601   28.399990   0.426467
45  2019        2  29.832248  27.068427  33.368286   34.858282   3.614025
46  2019        3  27.584468  25.933320  29.898455   31.514380  12.749710
47  2019        4  27.928748  25.743490  30.754294   31.231106   4.489573
48  2020        1  27.395116  24.900861  30.684349   29.488942   0.413218
49  2020        2  29.832907  27.121235  33.251378   34.853447   3.723166
50  2020        3  28.484166  26.292600  31.358319   33.128801   9.180066
51  2020        4  27.488240  25.568000  30.029173   30.713817  10.778031
52  2021        1  27.140468  24.999214  29.989799   29.543240   1.842001
53  2021        2  29.470087  26.662276  32.942211   33.913021   2.199228
54  2021        3  28.046796  26.100383  30.570676   32.222900  14.843299
55  2021        4  27.748244  25.674238  30.415247   30.969755   3.556516
56  2022        1  27.647574  25.157832  30.885381   30.045686   0.474231
57  2022        2  29.179466  26.574971  32.474092   33.359352   5.077775
58  2022        3  27.892270  25.900245  30.563714   31.811609  13.422904
59  2022        4  27.851372  25.897426  30.387836   31.322508   5.725518

    wind_speed         rh   solar_rad     uv_rad
0     3.071141  76.485248  191.274331  23.259864
1     2.073945  77.261185  233.820612  28.699608
2     2.033656  83.177382  189.999688  23.810815
3     2.586875  78.404779  169.665826  20.712558
4     3.309462  74.827549  199.417022  24.159092
5     2.149768  79.642675  209.527306  26.199314
6     2.682881  84.556246  179.718079  22.674015
7     2.712318  76.639125  189.076918  22.707727
8     3.204246  72.263839  212.878423  25.122739
9     1.965164  74.133516  250.108564  30.655921
10    1.583626  81.580936  205.367443  25.712422
11    2.397091  79.994218  164.535140  20.257518
12    3.875919  73.629196  189.390236  23.092787
13    2.220116  75.511891  226.384281  28.039552
14    2.820087  84.751039  186.133868  23.383177
15    2.558440  80.334375  167.613737  20.460332
16    2.994132  76.135516  189.606231  23.002656
17    2.235585  77.309508  224.645069  27.652118
18    2.736095  84.541322  176.273066  22.415378
19    2.632665  76.522154  188.570401  22.546537
20    3.340703  73.298717  204.176513  24.369228
21    1.703232  73.254451  234.892401  28.825342
22    1.944602  82.481543  180.391496  22.893400
23    2.408672  78.503134  173.047241  21.004972
24    3.074729  70.019804  212.073958  25.192764
25    1.854666  73.091484  238.142135  29.421731
26    2.539526  84.048450  189.673902  23.907683
27    2.487592  78.144866  168.909978  20.710577
28    3.304702  71.627390  210.128185  24.997756
29    1.874422  71.598790  254.435909  30.848177
30    2.107305  81.778929  202.195678  25.386739
31    2.973210  77.173098  180.903507  21.783540
32    3.004757  74.643923  199.380635  23.722523
33    1.968932  73.667021  243.879336  29.624291
34    2.455499  83.449457  192.799490  24.267179
35    2.622413  79.450106  169.096118  20.676599
36    3.555601  73.849088  197.735768  23.770770
37    1.967150  74.054960  237.503810  29.110478
38    2.182419  82.074410  196.862242  25.126491
39    2.695041  79.597713  165.913874  20.565010
40    3.033203  73.838314  203.924190  24.475452
41    2.554494  71.797101  241.605609  29.365433
42    2.889120  84.850816  177.501838  22.738661
43    2.748106  75.951700  179.896083  21.758600
44    3.037788  70.248377  217.268291  25.615625
45    2.043321  72.802273  240.106220  29.453177
46    3.006371  83.674975  173.673693  21.989484
47    2.369330  76.594881  184.679362  22.458427
48    3.396841  71.625975  211.489769  25.282298
49    2.085681  72.487165  248.032935  30.436443
50    1.484343  79.923241  195.771128  24.495079
51    2.587154  79.484893  151.524488  18.855815
52    2.994211  75.473978  187.560978  22.540359
53    2.136226  72.243310  248.457378  30.243933
54    2.392116  81.075652  197.888935  24.854133
55    2.485910  76.621340  177.034508  21.662195
56    3.168587  72.035921  209.525606  25.179668
57    1.974323  73.069610  227.704016  28.088511
58    1.756995  81.023440  181.710827  23.139480
59    2.296731  77.608590  169.814589  20.871046

In [5]:
dengue_cleaned = dengue[dengue['year'] > 2014]
dengue_cleaned = dengue_cleaned.drop(['Unnamed: 0'], axis = 1)
dengue_cleaned.fillna(0, inplace = True)
dengue_cleaned = dengue_cleaned.apply(lambda x: x.map('{:.2f}'.format) if x.dtype == 'float64' else x)
adm3_pcode_mapping = {
    'PH137401000': 1,
    'PH137503000': 2,
    'PH137603000': 3
}
dengue_cleaned['adm3_pcode'] = dengue_cleaned['adm3_pcode'].map(adm3_pcode_mapping)
columns_to_drop = ['year', 'week', 'month', 'adm3_pcode', 'adm3_en', 'clinic_count', 'clinic_nearest']
dengue_cleaned = dengue_cleaned.drop(columns=columns_to_drop)

In [6]:
print(dengue_cleaned.info())

dengue_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 1311 to 2810
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tave              1500 non-null   object
 1   tmin              1500 non-null   object
 2   tmax              1500 non-null   object
 3   heat_index        1500 non-null   object
 4   pr                1500 non-null   object
 5   wind_speed        1500 non-null   object
 6   rh                1500 non-null   object
 7   solar_rad         1500 non-null   object
 8   uv_rad            1500 non-null   object
 9   dentist_nearest   1500 non-null   object
 10  doctors_nearest   1500 non-null   object
 11  hospital_nearest  1500 non-null   object
 12  optician_nearest  1500 non-null   object
 13  pharmacy_nearest  1500 non-null   object
 14  pop_count_total   1500 non-null   object
 15  pop_density_mean  1500 non-null   object
 16  dentist_count     1500 non-null   object
 17  doctors_count     1500 non-null   object
 18  hospital_count    1500 non-null   object
 19  optician_count    1500 non-null   object
 20  pharmacy_count    1500 non-null   object
 21  case_total        1500 non-null   object
dtypes: object(22)
memory usage: 269.5+ KB
None

,tave,tmin,tmax,heat_index,pr,wind_speed,rh,solar_rad,uv_rad,dentist_nearest,...,optician_nearest,pharmacy_nearest,pop_count_total,pop_density_mean,dentist_count,doctors_count,hospital_count,optician_count,pharmacy_count,case_total
1311,24.90,23.05,27.55,25.77,2.20,5.23,74.81,154.55,18.75,1461.16,...,1327.64,153.05,13551.19,35729.54,4.00,0.00,8.00,4.00,72.00,0.00
1312,24.67,22.73,27.29,25.38,0.00,4.65,72.92,158.34,19.29,10000.00,...,9998.30,949.48,20156.26,44536.11,0.00,0.00,0.00,0.00,4.00,0.00
1313,24.63,22.76,27.25,25.46,6.40,5.20,75.66,153.93,18.64,1800.19,...,1743.96,300.98,51784.80,11364.11,12.00,4.00,24.00,4.00,72.00,0.00
1314,25.38,23.15,28.33,26.46,0.00,3.72,74.96,178.14,21.64,1461.16,...,1327.64,153.05,13551.19,35729.54,7.00,0.00,14.00,7.00,126.00,10.00
1315,25.27,23.12,28.03,26.20,0.00,3.10,73.44,180.83,21.71,10000.00,...,9998.30,949.48,20156.26,44536.11,0.00,0.00,0.00,0.00,7.00,9.00

In [7]:
dengue_cleaned.to_csv('Cleaned_Dengue_Data.csv', index=False)

In [8]:
leptospirosis = pd.read_csv('LEPTOSPIROSIS.csv')
leptospirosis.head()
print(leptospirosis.info())

leptospirosis_cleaned = leptospirosis[leptospirosis['year'] > 2014]
leptospirosis_cleaned = leptospirosis_cleaned.drop(['Unnamed: 0'], axis = 1)
leptospirosis_cleaned.fillna(0, inplace = True)
leptospirosis_cleaned = leptospirosis_cleaned.apply(lambda x: x.map('{:.2f}'.format) if x.dtype == 'float64' else x)
adm3_pcode_mapping = {
    'PH137401000': 1,
    'PH137503000': 2,
    'PH137603000': 3
}
leptospirosis_cleaned['adm3_pcode'] = leptospirosis_cleaned['adm3_pcode'].map(adm3_pcode_mapping)
columns_to_drop_leptospirosis = ['year', 'week', 'month', 'adm3_pcode', 'adm3_en', 'clinic_count', 'clinic_nearest']
leptospirosis_cleaned = leptospirosis_cleaned.drop(columns=columns_to_drop_leptospirosis)

print(leptospirosis_cleaned.info())
leptospirosis_cleaned.head()

dengue_cleaned.to_csv('Cleaned_Leptospirosis_Data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2811 non-null   int64
 1   year              2811 non-null   int64
 2   week              2811 non-null   int64
 3   month             2811 non-null   int64
 4   adm3_pcode        2811 non-null   object
 5   adm3_en           2811 non-null   object
 6   tave              2811 non-null   float64
 7   tmin              2811 non-null   float64
 8   tmax              2811 non-null   float64
 9   heat_index        2811 non-null   float64
 10  pr                2811 non-null   float64
 11  wind_speed        2811 non-null   float64
 12  rh                2811 non-null   float64
 13  solar_rad         2811 non-null   float64
 14  uv_rad            2811 non-null   float64
 15  clinic_nearest    1686 non-null   float64
 16  dentist_nearest   1686 non-null   float64
 17  doctors_nearest   1686 non-null   float64
 18  hospital_nearest  1686 non-null   float64
 19  optician_nearest  1686 non-null   float64
 20  pharmacy_nearest  1686 non-null   float64
 21  pop_count_total   2439 non-null   float64
 22  pop_density_mean  2439 non-null   float64
 23  clinic_count      2811 non-null   float64
 24  dentist_count     2811 non-null   float64
 25  doctors_count     2811 non-null   float64
 26  hospital_count    2811 non-null   float64
 27  optician_count    2811 non-null   float64
 28  pharmacy_count    2811 non-null   float64
 29  case_total        2340 non-null   float64
dtypes: float64(24), int64(4), object(2)
memory usage: 659.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 1311 to 2810
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tave              1500 non-null   object
 1   tmin              1500 non-null   object
 2   tmax              1500 non-null   object
 3   heat_index        1500 non-null   object
 4   pr                1500 non-null   object
 5   wind_speed        1500 non-null   object
 6   rh                1500 non-null   object
 7   solar_rad         1500 non-null   object
 8   uv_rad            1500 non-null   object
 9   dentist_nearest   1500 non-null   object
 10  doctors_nearest   1500 non-null   object
 11  hospital_nearest  1500 non-null   object
 12  optician_nearest  1500 non-null   object
 13  pharmacy_nearest  1500 non-null   object
 14  pop_count_total   1500 non-null   object
 15  pop_density_mean  1500 non-null   object
 16  dentist_count     1500 non-null   object
 17  doctors_count     1500 non-null   object
 18  hospital_count    1500 non-null   object
 19  optician_count    1500 non-null   object
 20  pharmacy_count    1500 non-null   object
 21  case_total        1500 non-null   object
dtypes: object(22)
memory usage: 269.5+ KB
None

In [9]:
typoid = pd.read_csv('TYPHOID FEVER.csv')
typoid.head()
print(typoid.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2811 non-null   int64
 1   year              2811 non-null   int64
 2   week              2811 non-null   int64
 3   month             2811 non-null   int64
 4   adm3_pcode        2811 non-null   object
 5   adm3_en           2811 non-null   object
 6   tave              2811 non-null   float64
 7   tmin              2811 non-null   float64
 8   tmax              2811 non-null   float64
 9   heat_index        2811 non-null   float64
 10  pr                2811 non-null   float64
 11  wind_speed        2811 non-null   float64
 12  rh                2811 non-null   float64
 13  solar_rad         2811 non-null   float64
 14  uv_rad            2811 non-null   float64
 15  clinic_nearest    1686 non-null   float64
 16  dentist_nearest   1686 non-null   float64
 17  doctors_nearest   1686 non-null   float64
 18  hospital_nearest  1686 non-null   float64
 19  optician_nearest  1686 non-null   float64
 20  pharmacy_nearest  1686 non-null   float64
 21  pop_count_total   2439 non-null   float64
 22  pop_density_mean  2439 non-null   float64
 23  clinic_count      2811 non-null   float64
 24  dentist_count     2811 non-null   float64
 25  doctors_count     2811 non-null   float64
 26  hospital_count    2811 non-null   float64
 27  optician_count    2811 non-null   float64
 28  pharmacy_count    2811 non-null   float64
 29  case_total        2340 non-null   float64
dtypes: float64(24), int64(4), object(2)
memory usage: 659.0+ KB
None

In [10]:

typoid_cleaned = typoid[typoid['year'] > 2014]
typoid_cleaned = typoid_cleaned.drop(['Unnamed: 0'], axis = 1)
typoid_cleaned.fillna(0, inplace = True)
typoid_cleaned = typoid_cleaned.apply(lambda x: x.map('{:.2f}'.format) if x.dtype == 'float64' else x)
adm3_pcode_mapping = {
    'PH137401000': 1,
    'PH137503000': 2,
    'PH137603000': 3
}
typoid_cleaned['adm3_pcode'] = typoid_cleaned['adm3_pcode'].map(adm3_pcode_mapping)
columns_to_drop_typoid = ['year', 'week', 'month', 'adm3_pcode', 'adm3_en', 'clinic_count', 'clinic_nearest']
typoid_cleaned = typoid_cleaned.drop(columns=columns_to_drop_typoid)

print(typoid_cleaned.info())
typoid_cleaned.head()

dengue_cleaned.to_csv('Cleaned_Typoid_Data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 1311 to 2810
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tave              1500 non-null   object
 1   tmin              1500 non-null   object
 2   tmax              1500 non-null   object
 3   heat_index        1500 non-null   object
 4   pr                1500 non-null   object
 5   wind_speed        1500 non-null   object
 6   rh                1500 non-null   object
 7   solar_rad         1500 non-null   object
 8   uv_rad            1500 non-null   object
 9   dentist_nearest   1500 non-null   object
 10  doctors_nearest   1500 non-null   object
 11  hospital_nearest  1500 non-null   object
 12  optician_nearest  1500 non-null   object
 13  pharmacy_nearest  1500 non-null   object
 14  pop_count_total   1500 non-null   object
 15  pop_density_mean  1500 non-null   object
 16  dentist_count     1500 non-null   object
 17  doctors_count     1500 non-null   object
 18  hospital_count    1500 non-null   object
 19  optician_count    1500 non-null   object
 20  pharmacy_count    1500 non-null   object
 21  case_total        1500 non-null   object
dtypes: object(22)
memory usage: 269.5+ KB
None